<div class="flex flex-col md:flex-row h-auto md:h-screen">
  <div class="flex flex-col gap-4 justify-center p-4 w-full md:w-1/3 md:fixed md:relative items-center lg:items-stretch">
    <div class="mb-4 p-6 border shadow-lg border-gray-100 rounded-xl max-w-xs lg:max-w-full">
      <p class="px-4 pt-2 text-xl font-bold">Mis datos</p>
      <p class="px-4 py-2">{{ user.username }}</p>
      <p class="px-4 py-1">{{ user.email }}</p>
      <div class="px-4">
        <button
          class="bg-red-600 text-white px-5 py-3 rounded-lg mt-4 hover:bg-red-700 transition-colors w-full"
          (click)="authService.logOut()"
        >
          Cerrar sesión
        </button>
      </div>
    </div>
    <div class="p-6 shadow-lg border rounded-xl border-gray-100 max-w-xs lg:max-w-full">
      <p class="px-4 pt-2 text-xl font-bold">Mi suscripción</p>
      <p class="px-4 py-2">{{ user.subscription.name }}</p>
      @if (user.subscription.totalAvailableConversions) {
        <p class="px-4 py-1">
          {{ user.subscription.totalAvailableConversions }} conversiones por mes
        </p>
      }
      @if (!user.subscription.totalAvailableConversions) {
        <p class="px-4 py-1">
          Sin limite de conversiones
        </p>
      }
    </div>
  </div>


  <div class="flex flex-col gap-6 p-4 w-full md:w-2/3">
    <p class="text-2xl font-bold">Suscripciones</p>
    <div class="flex flex-wrap lg:flex-nowrap gap-4 overflow-auto sm:min-h-60 lg:min-h-0 justify-center lg:justify-normal">
      @for (subscription of subscriptions; track subscription) {
        <div
          class="p-6 shadow-md rounded-xl border border-gray-100 h-auto max-w-xs w-full"
        >
          <p class="text-lg font-bold">{{ subscription.name }}</p>
          @if (subscription.totalAvailableConversions) {
            <p class="mt-2 text-gray-600">
              {{ subscription.totalAvailableConversions }} conversiones por mes
            </p>
          }
          @if (!subscription.totalAvailableConversions) {
            <p class="mt-2 text-gray-600">Sin limite de conversiones</p>
          }
          <p class="mt-2 text-gray-600">{{ subscription.price }} USD por mes</p>
          <div class="flex items-end justify-start">
            @if (subscription.id !== user.subscription.id) {
              <button
                class="bg-green-500 text-white px-5 py-3 rounded-lg mt-4 w-full"
                (click)="updateSubscription(subscription.id)"
              >
                Suscribirme
              </button>
            }
            @if (subscription.id === user.subscription.id) {
              <button
                class="bg-gray-300 text-white px-5 py-3 rounded-lg mt-4 w-full"
                disabled
              >
                Suscrito
              </button>
            }
          </div>
        </div>
      }
    </div>
    <div>
      <p class="text-2xl font-bold">Historial de conversiones</p>
      <table class="w-full mt-4 border-collapse text-sm">
        <thead>
          <tr>
            <th class="border border-gray-100 px-4 py-2">Ingreso</th>
            <th class="border border-gray-100 px-4 py-2">Resultado</th>
            <th class="border border-gray-100 px-4 py-2">Fecha</th>
          </tr>
        </thead>
        <tbody class="text-center text-gray-500">
          @for (conversion of history; track conversion) {
            <tr>
              <td class="border border-gray-100 px-4 py-2">
                {{ conversion.amount | number : "1.0-2" }} ({{
                conversion.currencyFrom.name
                }})
              </td>
              <td class="border border-gray-100 px-4 py-2">
                {{ conversion.result.toFixed(2) | number : "1.0-2" }} ({{
                conversion.currencyTo.name
                }})
              </td>
              <td class="border border-gray-100 px-4 py-2">
                {{ conversion.date | date }}
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>