<div class="grid h-screen content-evenly md:items-center justify-items-center">
  <div
    class="h-screen grid items-center md:h-auto md:p-32 md:shadow-2xl md:backdrop-blur-3xl md:rounded-3xl"
  >
    <div class="text-center">
      <p class="text-green-400 font-bold text-4xl">Bienvenido!</p>
      <p class="mt-2 font-light text-gray-500">
        Creá una cuenta o
        <span class="text-green-400 font-bold underline">inicia sesión</span>
      </p>
    </div>

    <form
      class="flex flex-col mt-10 px-6"
      #registerForm="ngForm"
      (ngSubmit)="register()"
    >
      <p class="mt-4 mb-2 text-gray-500">Nombre</p>
      <input
        type="text"
        class="border h-12 rounded-md p-3 border-gray-400/40"
        name="firstName"
        [(ngModel)]="registerData.firstName"
      />
      <p class="mt-4 mb-2 text-gray-500">Apellido</p>
      <input
        type="text"
        class="border h-12 rounded-md p-3 border-gray-400/40"
        name="lastName"
        [(ngModel)]="registerData.lastName"
      />
      <p class="mt-4 mb-2 text-gray-500">Nickname</p>
      <input
        [(ngModel)]="registerData.username"
        type="text"
        name="username"
        class="border h-12 rounded-md p-3 border-gray-400/40"
      />
      <p class="mt-4 mb-2 text-gray-500">Contraseña</p>
      <input
        type="text"
        class="border h-12 rounded-md p-3 border-gray-400/40"
        placeholder="*********"
        name="password"
        [(ngModel)]="registerData.password"
      />
    </form>

    <div
      class="mt-auto p-5 flex flex-col justify-center items-center text-center mb-5"
    >
      <div>
        <button
          class="bg-green-400 py-3 px-4 w-80 h-12 rounded-md text-white hover:bg-green-500 transition-colors"
          (click)="register()"
        >
          Registrate
        </button>
      </div>
    </div>
  </div>
</div>
