<div class="pt-10 pl-10">
  <p class="text-3xl font-bold">Bienvenido {{ user.username }}!</p>
  <p class="text-xl pt-3">Elige el tipo de suscripción que va a tener tu cuenta para poder continuar</p>
</div>
<div class="flex flex-col py-10">
  <div class="flex mt-3 overflow-auto min-h-60 w-screen justify-center">
    @for (subscription of subscriptions; track subscription) {
      <div
        class="p-8 my-4 mx-1 shadow-md rounded-xl border border-gray-100 h-48 min-w-80"
        >
        <p class="text-xl font-bold">{{ subscription.name }}</p>
        @if (subscription.totalAvailableConversions) {
          <p
            class="mt-2 text-gray-600"
            >
            {{ subscription.totalAvailableConversions }} conversiones por mes
          </p>
        }
        @if (!subscription.totalAvailableConversions) {
          <p
            class="mt-2 text-gray-600"
            >
            Sin limite de conversiones
          </p>
        }
        <p class="mt-2 text-gray-600">{{ subscription.price }} USD por mes</p>
        <div class="flex items-end justify-start">
          <button
            class="bg-green-500 text-white px-5 py-3 rounded-lg mt-4"
            (click)="updateSubscription(subscription.id)"
            >
            Suscribirme
          </button>
        </div>
      </div>
    }