<div class="w-full">
  <div
    class="flex flex-wrap pt-10 text-xl mx-16 gap-4 md:gap-0 md:text-left text-center"
  >
    <a
      routerLink="/"
      routerLinkActive="font-bold text-green-700"
      [routerLinkActiveOptions]="{ exact: true }"
      class="mx-auto md:mx-0 lg:mr-2"
    >
      Monedas
    </a>
    <a
      class="mx-auto md:mx-0"
      routerLink="/favourites"
      routerLinkActive="font-bold text-green-700"
    >
      Favoritas
    </a>
    <a
      class="mx-auto md:mx-0 md:ml-auto"
      routerLink="/profile"
      routerLinkActive="font-bold text-green-700"
    >
      Perfil
    </a>
  </div>
  <router-outlet></router-outlet>
</div>
